body{
    background-image: url("../images/download (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#ChessBoard{
    width: 800px;
    height: 800px;
    border: solid black 1px;
    background-color: aquamarine;
    opacity: .5;
}

.blackbox{
    height:100px;
    width: 100px;
    background-color: purple;
    float: left;
    border-radius: 0%;
}

.whitebox{
    height:100px;
    width: 100px;
    background-color: yellow;
    float: left;
    border-radius: 0%;
}